<!DOCTYPE html>
<html>
<head>
    <title>View Pickups</title>
</head>
<body>
    <h1>Pickups</h1>
    <table>
        <tr>
            <th>Pickup ID</th>
            <th>Transporter</th>
            <th>Pickup Date</th>
            <th>Status</th>
        </tr>
        {% for pickup in pickups %}
        <tr>
            <td>{{ pickup.id }}</td>
            <td>{{ pickup.transporter.name }}</td>
            <td>{{ pickup.pickup_date }}</td>
            <td>{{ pickup.status }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>