@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: Arial, sans-serif;
}
.dropdown-container {
  position: relative;
  background-color: #f0f0f0;
}
.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  display: none;
}
.dropdown-list.show {
  display: block;
}
.dropdown-item {
  padding: 0.5rem;
  cursor: pointer;
}
.dropdown-item:hover {
  background-color: #f0f0f0;
}
.destination-input {
  position: relative;
  background-color: #f0f0f0;
}
.destination-input input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-weight: bold;
  background-color: #f0f0f0;
  padding-right: 4rem;
}
.destination-input::after {
  content: "Destination";
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  font-weight: bold;
}
.error {
  border: 1px solid red;
  background-color: #ffe6e6; /* Light red background */
}
